html {
  overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #04040e;
    overflow: hidden;
}

#canvas-container {
  width: 97vw;
  height: 97vh;
  margin-left: 1.5vw;
  margin-top: 0.5vh;
  overflow: hidden;
  cursor: grab;
}

#invisible{
  visibility: hidden;
}

#canvas-container:active{
  cursor: grabbing;
}

#franksCity h2, #franksCity h3 {
  margin: 0; 
  line-height: 1; 
  padding: 0; 
}

#franksCity {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
  
